@page "/cats/details"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Детали</PageTitle>

<h1>Детали</h1>

<div>
    <h2>Категория</h2>
    <hr />
    @if (cat is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">@cat.Name</dd>
        </dl>
        <div>
            <a href="@($"/cats/edit?id={cat.Id}")">Редактировать</a> |
            <a href="@($"/cats")">Вернуться к списку</a>
        </div>
    }
</div>

@code {
    private Cat? cat;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        cat = await context.Cats.FirstOrDefaultAsync(m => m.Id == Id);

        if (cat is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
