@page "/cats/edit"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Редактировать</PageTitle>

<h1>Редактировать</h1>

<h2>Категория</h2>
<hr />
@if (Cat is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Cat" OnValidSubmit="UpdateCat" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Cat.Id" value="@Cat.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Название:</label>
                    <InputText id="name" @bind-Value="Cat.Name" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Cat.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/cats">Вернуться к списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Cat? Cat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Cat ??= await context.Cats.FirstOrDefaultAsync(m => m.Id == Id);

        if (Cat is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCat()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Cat!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CatExists(Cat!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/cats");
    }

    private bool CatExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Cats.Any(e => e.Id == id);
    }
}
