@page "/orders/edit"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@using CoShop.Data
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject ApplicationDbContext dbContext

<PageTitle>Редактировать</PageTitle>

<h1>Редактировать</h1>

<h2>Заказ</h2>
<hr />
@if (Order is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Order" OnValidSubmit="UpdateOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Order.Id" value="@Order.Id" />
                <div class="mb-3">
                    <label for="applicationUserId" class="form-label">ID Пользователя:</label>
                    <InputText id="applicationUserId" @bind-Value="Order.ApplicationUserId" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Order.ApplicationUserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="CourseId" class="form-label">Курс:</label>
                    <InputSelect id="courseId" @bind-Value="Order.CourseId" class="form-control">
                        <option value="">Выберите курс...</option>
                        @if (Courses != null)
                        {
                            @foreach (var course in Courses)
                            {
                                <option value="@course.Id">@course.Title</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Order.CourseId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderDate" class="form-label">Дата заказа:</label>
                    <InputDate id="orderDate" @bind-Value="Order.OrderDate" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Order.OrderDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/orders">Вернуться к списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Order? Order { get; set; }

    public List<Course>? Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Order ??= await context.Orders.FirstOrDefaultAsync(m => m.Id == Id);

        if (Order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        Courses = await dbContext.Courses.OrderBy(p => p.Title).ToListAsync();
    }

    private async Task UpdateOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Order!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderExists(Order!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/orders");
    }

    private bool OrderExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Orders.Any(e => e.Id == id);
    }
}
