@page "/orders"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CoShop.Models
@using CoShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory

<PageTitle>Список</PageTitle>

<h1>Список</h1>

<p>
    <a href="orders/create">Создать новый</a>
</p>

<QuickGrid Class="table" Items="context.Orders">
    <PropertyColumn Property="order => order.ApplicationUserId" Title="ID Пользователя" />
    <PropertyColumn Property="order => order.CourseId" Title="ID Курса" />
    <PropertyColumn Property="order => order.OrderDate" Title="Дата оформления" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?id={order.Id}")">Редактировать</a> |
        <a href="@($"orders/details?id={order.Id}")">Детали</a> |
        <a href="@($"orders/delete?id={order.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
