@page "/courses"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CoShop.Models
@using CoShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory

<PageTitle>Список</PageTitle>

<h1>Список</h1>

<p>
    <a href="courses/create">Создать новый</a>
</p>

<QuickGrid Class="table" Items="context.Courses">
    <PropertyColumn Property="course => course.Title" Title="Название" />
    <PropertyColumn Property="course => course.Description" Title="Описание" />
    <PropertyColumn Property="course => course.Price" Title="Цена" />
    <PropertyColumn Property="course => course.CreatedAt" Title="Дата создания" />
    <PropertyColumn Property="course => course.CatId" Title="ID Категории" />
    <PropertyColumn Property="course => course.ImageUrl" Title="Путь к изображению" />

    <TemplateColumn Context="course">
        <a href="@($"courses/edit?id={course.Id}")">Редактировать</a> |
        <a href="@($"courses/details?id={course.Id}")">Детали</a> |
        <a href="@($"courses/delete?id={course.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
