@page "/pols/create"
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Pol</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Pol" OnValidSubmit="AddPol" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="namepol" class="form-label">NamePol:</label> 
                <InputText id="namepol" @bind-Value="Pol.NamePol" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Pol.NamePol" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/pols">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Pol Pol { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPol()
    {
        using var context = DbFactory.CreateDbContext();
        context.Pols.Add(Pol);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/pols");
    }
}
