@page "/polzos/edit"
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Polzo</h2>
<hr />
@if (Polzo is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Polzo" OnValidSubmit="UpdatePolzo" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Polzo.Id" value="@Polzo.Id" />
                <div class="mb-3">
                    <label for="surname" class="form-label">Surname:</label>
                    <InputText id="surname" @bind-Value="Polzo.Surname" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.Surname" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Polzo.Name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="patronymic" class="form-label">Patronymic:</label>
                    <InputText id="patronymic" @bind-Value="Polzo.Patronymic" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.Patronymic" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="polid" class="form-label">PolId:</label>
                    <InputNumber id="polid" @bind-Value="Polzo.PolId" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.PolId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datebirth" class="form-label">DateBirth:</label>
                    <InputDate id="datebirth" @bind-Value="Polzo.DateBirth" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.DateBirth" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <InputText id="phone" @bind-Value="Polzo.Phone" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.Phone" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdat" class="form-label">CreatedAt:</label>
                    <InputDate id="createdat" @bind-Value="Polzo.CreatedAt" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Polzo.CreatedAt" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/polzos">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Polzo? Polzo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Polzo ??= await context.Polzos.FirstOrDefaultAsync(m => m.Id == Id);

        if (Polzo is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePolzo()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Polzo!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PolzoExists(Polzo!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/polzos");
    }

    private bool PolzoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Polzos.Any(e => e.Id == id);
    }
}
