@page "/polzos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CoShop.Models
@using CoShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="polzos/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Polzos">
    <PropertyColumn Property="polzo => polzo.Surname" />
    <PropertyColumn Property="polzo => polzo.Name" />
    <PropertyColumn Property="polzo => polzo.Patronymic" />
    <PropertyColumn Property="polzo => polzo.PolId" />
    <PropertyColumn Property="polzo => polzo.DateBirth" />
    <PropertyColumn Property="polzo => polzo.Phone" />
    <PropertyColumn Property="polzo => polzo.CreatedAt" />

    <TemplateColumn Context="polzo">
        <a href="@($"polzos/edit?id={polzo.Id}")">Edit</a> |
        <a href="@($"polzos/details?id={polzo.Id}")">Details</a> |
        <a href="@($"polzos/delete?id={polzo.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
