@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Личные данные</PageTitle>

<StatusMessage />
<h3>Личные данные</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит личные данные, которые вы предоставили нам. На этой странице вы можете скачать или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных приведет к постоянному удалению вашего аккаунта, и это не может быть восстановлено.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
