@page "/reviews"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CoShop.Models
@using CoShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory

<PageTitle>Список</PageTitle>

<h1>Список</h1>

<p>
    <a href="reviews/create">Создать новый</a>
</p>

<QuickGrid Class="table" Items="context.Reviews">
    <PropertyColumn Property="review => review.CourseId" Title="ID Курса" />
    <PropertyColumn Property="review => review.ApplicationUserId" Title="ID Пользователя" />
    <PropertyColumn Property="review => review.Rating" Title="Оценка" />
    <PropertyColumn Property="review => review.Comment" Title="Комментарий" />
    <PropertyColumn Property="review => review.CreatedAt" Title="Дата создания" />

    <TemplateColumn Context="review">
        <a href="@($"reviews/edit?id={review.Id}")">Редактировать</a> |
        <a href="@($"reviews/details?id={review.Id}")">Детали</a> |
        <a href="@($"reviews/delete?id={review.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
